@import "settings";
@import "foundation-icons.css";
@import "foundation";
@import "compass";

/*
 * a small mixin for easy use of rem with px as fallback
 * usage: @include x-rem(font-size, 14px)
 * usage: @include x-rem(marign, 0 12px 2 1.2)
 * usage: @include x-rem(padding, 1.5 24px)
 *
 * thanks to Eric Meyer for https://github.com/ericam/susy
 * and Hans Christian Reinl for http://drublic.de/blog/rem-fallback-sass-less/
 */
@mixin x-rem($property, $values) {
  // Create a couple of empty lists as output buffers.
  $base-font-size: 16px; // should be consistent with your html/body font-size
  $px-values: ();
  $rem-values: ();
 
  // Loop through the $values list
  @each $value in $values {
    // For each property value, if it's in rem or px, derive both rem and
    // px values for it and add those to the end of the appropriate buffer.
    // Ensure all pixel values are rounded to the nearest pixel.
    @if $value == 0 or $value == 0px {
      // 0 -- use it without a unit
      $px-values: join($px-values, 0);
      $rem-values: join($rem-values, 0);
    } @else if type-of($value) == number and not unitless($value) and (unit($value) == px) {
      // px value given - calculate rem value from base-font-size
      $new-rem-value: $value / $base-font-size;
      $px-values: join($px-values, round($value));
      $rem-values: join($rem-values, #{$new-rem-value}rem);
    } @else {
      // unitless value - use those directly as rem and calculate the px-fallback
      $px-values: join($px-values, round($value * $base-font-size));
      $rem-values: join($rem-values, #{$value}rem);
    }
  }
 
  // output the converted rules
  #{$property}: $px-values;
  #{$property}: $rem-values;
}

$link-color: #008cba;

$footer-bg-color: #333A41;
$logotype: "brandon-grotesque";
$sans-serif: "calluna-sans";

%section-padding {
    @include x-rem(padding, 4 0 4 0);
}

%header-intro-styles{
    color: white;
    text-shadow: 0px 0px 15px rgba(0,0,0,0.8);
    text-align: center;
}

%gridrow{
    @include grid-row();
    max-width: 55rem;
}

%section-header__title{
    @include grid-column(2);
    @media (max-width: 700px) {
        @include grid-column(3);
    }
    @media (max-width: 590px) {
        @include grid-column(12);
    }
}

%section-header__desc{
    @include grid-column(10);
    @media (max-width: 700px) {
        @include grid-column(9);
    }
    @media (max-width: 590px) {
        @include grid-column(12);
    }
    h3{
        color: $link-color;
    }
    h3:hover{
        text-decoration: underline;
    }
}

.section-header__title{
    @extend %section-header__title;
}

.section-header__desc{
@extend %section-header__desc;
}

body{
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-family: $sans-serif;
    color: #303030;
}

h1, h2{
    letter-spacing: -1px;
}

h1, h2, h3, h4, h5, h6{
    font-family: $sans-serif;
    font-weight: 400;
}

ul{
	margin: 0;
}

p{
    font-weight: 400;
}


.nav-wrapper{
    width: 100%;
    position: absolute;
    z-index: 100;
}

.nav{
    //@include grid-row();
    @extend %gridrow;
    @include x-rem(padding, 2 20px 2 20px);
}

.nav__brand{
    float: left;
    color: #fff;
    font-family: $logotype;
    @include x-rem(font-size, 21px);
    @media (max-width: 700px) {
        text-align: center;
        display: block;
        width: 100%;
    }
}

.nav__brand:hover{
    color: white;
}

.nav__menu{
    float: right;
    list-style: none;
    @media (max-width: 700px) {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        margin-top: 2rem;
    }
    
}

.nav__menu-item{
    display: inline;
    @include x-rem(padding, 0 0 0 0.75);

    a{
        font-weight: 400;
        @include x-rem(padding, 0.25 0.75);
         @include border-radius(400px);
         color: white;
    }

    a:hover{
        color: $link-color;
        background: #f0f0f0;
    }
}

.nav__menu-item--active{
    @extend .nav__menu-item;
    a{
        @include x-rem(padding, 0.25 0.75);
         @include border-radius(400px);
        background: $link-color;
        color: #fff;
        font-weight: 400;
    }

    a:hover{
        background: $link-color;

        color: #fff;
    }
}

.nav__menu-item--hidden{
    display: none;
}

.intro-text{
    font-size: 1.4375rem;
    font-weight: 300;
    font-style: italic;
    line-height: 1.4;
    @extend %header-intro-styles;
}

.section-title-block{
    @include grid-column(2);
}

.masterheader-wrapper{
    width: 100%;
    @include x-rem(padding, 11 0 4 0);
    background: #f0f0f0;
    //background: #000 url('../img/mountain.jpg') no-repeat center -235px fixed;
    background: #000 url('../img/mountain.jpg') no-repeat center -395px fixed;




    @media (max-width: 700px) {
     @include x-rem(padding, 11 0 2 0);   
    background: #000 url('../img/mountain.jpg') no-repeat center -20px fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    }

     @media (max-width: 570px) {
        @include x-rem(padding, 10 0 0 0);   
     }

     @media (max-width: 500px) {
        @include x-rem(padding, 9 0 1 0);
        background: #000 url('../img/mountain.jpg') no-repeat center -45px fixed;
        -webkit-background-size: 130%;
    -moz-background-size: 130%;
    -o-background-size: 130%;
    background-size: 130%;  
     }

     
}

.masterheader{
    @extend %gridrow;
}

.masterheader__intro{
    font-weight: 300;
    font-style: italic;
}

.masterheader__header{
    @extend %header-intro-styles;

    @media (max-width: 570px) {
       display: none;
     }

}

.masterheader__next-section-link{
    text-align: center;
    display: block;
    color: white;
    font-size: 6em;
    height: 1em;
    margin-top: -0.25em;

     @media (max-width: 500px) {
        @include x-rem(font-size, 3);  
     }

     @media (max-width: 360px) {
        @include x-rem(font-size, 3); 
     }

}

.about-wrapper{
    width: 100%;
    @extend %section-padding;
    background: #fff url('../img/subtle_dots.png') repeat left top;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.about{
	//@include grid-row();
    @extend %gridrow;
}

.about-list{
	list-style: none;
    margin-top: 1em;
    display: block;
}

/*.features__introduction{
    //@include grid-row();
    @extend %gridrow;
    @include x-rem(padding, 3 0 1 0);
    h3{
        font-weight: 300;
        text-align: center;
    }

}*/

.about-list__item{
    text-align: center;
    @include grid-column(4);
    @media (max-width: 590px) {
        @include grid-column(12);
    }
    padding-top: 1px;

    a{
        margin: 0 auto;
        display: block;
    }
}

.about-list__service{

}

.about-list__img{
    @include border-radius(400px);
    @media (max-width: 590px) {
        max-width: 220px;
    }
}

.about-list__desc{
    @include x-rem(padding, 1 0 0 0);
    h3{
        color: $link-color;
        font-weight: 400;
    }
    h3:hover{
        text-decoration: underline;
    }
}

.services-wrapper{
    width: 100%;
    @extend %section-padding;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.services{
    
}

.services-list__item{

    //@include grid-row();
    @extend %gridrow;
    @include x-rem(padding, 1 0 1 0);

    /*a{
        @include x-rem(margin, 1 0 1 0);
        display: block;
    }*/
}

.services-list__bullets{
    display: inline-block;
    //@include grid-row();
    li{
        @include grid-column(4);
        list-style: disc;
        padding-left: 0;
    }
}

.services-list__service{

}

.services-list__img{
    @include grid-column(2);
    @media (max-width: 700px) {
        @include grid-column(3);
    }
    @media (max-width: 590px) {
       display: none;
    }
    img{
        @include border-radius(400px);

        @media (max-width: 590px) {
            max-width: 140px;
            margin: 0 auto;
            display: block;
        }
    }
}

.services-list__desc{
    
    @include grid-column(10);
    @media (max-width: 700px) {
        @include grid-column(9);
    }
    @media (max-width: 590px) {
        @include grid-column(12);
    }
    h3{
        color: $link-color;
    }
    h3:hover{
        text-decoration: underline;
    }
}

.service__ls{
    background: url('../img/ls.png') fixed;
}

.feedback-wrapper{
    width: 100%;
    @extend %section-padding;
    background: #fff url('../img/subtle_dots.png') repeat left top;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.feedback{
    @extend %gridrow;
    .section-header__title{
        @media (max-width: 700px) {
            width: 100%;
        }
    }
}

.feedback__feedback-cycle-img{
    @include grid-column(6);

    @media (max-width: 590px) {
        float: right;
    }

    @media (max-width: 400px) {
        @include grid-column(12);
    }
}

.feedback__block{
    @include grid-column(4);
     @media (max-width: 700px) {
        @include grid-column(6);
    }

    @media (max-width: 400px) {
        @include grid-column(12);
    }
}

.team-profiles-wrapper{
    width: 100%;
    background: url('../img/design-team.png') fixed;
    //background: #f0f0f0;
    //@include background-image(linear-gradient(#34495E, #2C3E50));
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @extend %section-padding;
}

%border-bottom-inverted{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.team-profiles{
	//@include grid-row();
    @extend %gridrow;
    h1, h2, h3, h4, h5, h6, small{
        color: #fff;
    }

    small{
        font-weight: 300;
    }
}

.team-profiles__filters{
	@include grid-column(4);
}

.team-profiles__desc{
    @include x-rem(padding, 0.5 0 1 0);
}

.filters__filter-set{
	list-style: none;
}

.filters__filter-select{
	width: 100%;
}

.team-profiles__images{
	@include grid-column(8);
    @include block-grid(3);
    text-align: center;
}

.team-profiles__team-member-image{
    @include border-radius(100px);
    
}

.team-profiles__item{
   
}

.sm-rnd-btn{
    @extend .small;
    @extend .round;
    @extend .button;
}

.button{
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    //display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.rounded-button{
    @extend .button;
    background: #bdc3c7;
    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    @include border-radius(4px);
}

.green-button{
    background: #27ae60;
}

.section-button{
    @extend .button;
    margin: 0 auto;
    border: 4px solid #fff;
    color: #fff;
    @include border-radius(4px);
}

.rounded-button:hover{
    background: #3498db;
    
}

.rounded-button:active{
    background: #2980b9;
}

.section-heading{
    text-align: center;
    @include x-rem(padding, 0 0 2 0);
}


.section-contact-wrapper{
    width: 100%;
    @extend %section-padding;
    background: #fff;
}

.section-contact{
    //@include grid-row();
    @extend %gridrow;
    textarea{
        @include x-rem(height, 10);
    }
    .section-header__title{
  
        @media (max-width: 700px) {
            width: 100%;

        }
    }
}

.section-contact__intro{
    @include grid-column(2);
    //@include panel;
}

.section-contact__block{

    @include grid-column(4);
    //@include panel;

     @media (max-width: 700px) {
        @include grid-column(6);
    }
    
    @media (max-width: 550px) {
        @include grid-column(12);
    }

    img{
        @include border-radius(400px);
        padding: 20px;
        margin-top: -20px;
    }
}

.section-contact__form{
    @include grid-column(6);
    //@include panel;

    @media (max-width: 550px) {
        @include grid-column(12);
    }
}

.sub-footer-wrapper{
    width: 100%;
    @extend %section-padding;
    /*@include background-image(linear-gradient(#1ABC9C, #27AE60));*/
    background: $footer-bg-color; //#2c3e50;
}

.sub-footer{
    //@include grid-row();
    @extend %gridrow;
    @include x-rem(padding, 0 0 3 0);
    @extend %border-bottom-inverted;
}

.sub-footer__{}

.sub-footer__subsection{
    @include grid-column(3);
    h6{
        text-align: center;
        font-weight: 300;
        color: white;
    }
    p{
        color: white;
        font-weight: 300;
    }
    i {
        text-align: center;
        font-size: 30px;
        color: white;
        width: 100%;
        display: block;
    }

    @media (max-width: 790px) {
        @include grid-column(12);
    }

}

.sub-footer__contact-details{
    @extend .sub-footer__subsection;
}

.sub-footer__et-sites{
    @extend .sub-footer__subsection;
}

.sub-footer__news-letter{
    @extend .sub-footer__subsection;
}

.site-footer-wrapper{
    width: 100%;
    
    @include x-rem(padding, 4 20px);
    @media (max-width: 500px) {
         @include x-rem(padding, 1 20px);
    }
    /*@include background-image(linear-gradient(#1ABC9C, #27AE60));*/
    background: $footer-bg-color; //#2c3e50;
}

.site-footer{
    //@include grid-row();
    @extend %gridrow;
    background: url('../img/falmouth-logo.png') right top no-repeat;
    @include x-rem(padding, 0 0 3 0);

    @media (max-width: 500px) {
        display: none;
    }

    h3{
        font-family: $logotype;
        color: white;
    }
}

.mobile-footer{
    display: none;
     @media (max-width: 500px) {
        display: block;
        color: white;
    }

}


.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      -ms-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}



